@charset "utf-8";
body, ul, li, img {
    margin: 0px;
    padding: 0px;
}

.slideInner ul,li{margin:0px;padding:0px;}
li{list-style-type:none;}

.nav_content a{
    min-height: 38px;
    line-height: 38px;
    padding: 0 11px;
    color: rgb(81, 81, 81);
    text-align: left;
    }
.nav_content a:link{color:rgb(81, 81, 81)}
.nav_content a:hover{color:rgb(81, 81, 81)}
.nav_content a:active{color:rgb(81, 81, 81)}
.nav_content a:visited{color:rgb(81, 81, 81)}

.google-plus p{margin:0px;padding:0px;}

[role="banner"] {
    position: relative;
    display: table;
    width: 100%;
    min-height: 70px;
    margin: 0 auto;
    text-align: center;
    background: url(../img/banner_bkg_sprite.png) 0 -2px repeat-x;
    overflow: visible;
    z-index: 20;
    margin-bottom: -2px;
}

@-moz-document url-prefix() {
    [role="banner"] {
        display: block;
    }
}

[role="banner"]:after {
    content: '';
    display: block;
    width: 100%;
    height: 14px;
    background: url(../img/banner_bkg_sprite.png) 0 -539px repeat-x;
    visibility: visible;
    position: absolute;
    bottom: -3px;
    left: 0;
}

#logo p{margin:0px;padding:0px;}
#logo img{max-height:62px;}

.inner, .span12 {
    text-align: left;
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

[role="banner"] div#logo {
    display: inline-block;
    float: left;
    width: 96px;
    height: 55px;
    padding: 0;
    margin: 0;
}

[role="banner"] div#logo a {
    display: block;
    width: 96px;
    height: 53px;
    text-indent: -9999px;
    color: #000;
}

[role="navigation"] {
    position: relative;
    display: block;
    float: left;
    padding-top: 10px;
    font-size: 15px;
    padding-left: 72px;
    z-index: 100;

}

[role="navigation"] li {
    position: relative;
    display: block;
    float: left;
    margin: 0 1px 0 0;
    text-align: center;
}

.main_nav a {
    text-decoration: none;
}

[role="navigation"] ul.main_nav > li:hover {
    padding-bottom: 22px;
}

[role="navigation"] li a {
    display: block;
    min-height: 38px;
    line-height: 38px;
    padding: 0 11px;
    color: rgb(81, 81, 81);
    text-align: left;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

[role="navigation"] ul:not(.subnav) li:hover > a, [role="navigation"] ul:not(.subnav) li > a:focus {
    text-decoration: none;
    border: none !important;
    outline: none;
    background: -moz-linear-gradient(top, rgba(203, 203, 203, 1) 0%, rgba(255, 255, 255, 0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(203, 203, 203, 1)), color-stop(100%, rgba(255, 255, 255, 0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(203, 203, 203, 1) 0%, rgba(255, 255, 255, 0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(203, 203, 203, 1) 0%, rgba(255, 255, 255, 0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(203, 203, 203, 1) 0%, rgba(255, 255, 255, 0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(203, 203, 203, 1) 0%, rgba(255, 255, 255, 0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cbcbcb', endColorstr='#00ffffff', GradientType=0); /* IE6-9 */
}

[role="navigation"] ul.main_nav > li > a:focus {
    border: 1px solid #666 !important;
}

[role="navigation"] li a.none {
    display: none;
}

.main_img img, .md_img img, img.round_full, img.main_img {
    width: 100%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    margin-bottom: 25px;
}

img.round {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    margin-bottom: 25px;
}

.tabs_img img {
    width: 100%;
    border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    margin-bottom: 25px;
}

.grid img {
    width: 100%;
    display: inline-block;
}

img.map {
    width: auto;
}

.grid [class*="span3"] {
}

.grid [class*="span3"]:nth-child(4n) {
    margin-right: 0;
}

span.caption {
    position: relative;
    display: inline-block;
    top: -10px;
    font-size: 13px;
    line-height: 1.4;
}

.home span.caption {
    top: 0;
    margin-left: 14px;
    max-width: 75%;
}

.home span.caption a {
    color: rgb(109, 109, 109);
}

[role="contentinfo"] {
    position: relative;
    width: 100%;
    font-size: 13px;
    z-index: 2;
    overflow: hidden;
    overflow-y: auto;
    /*background: rgb(252,252,252);  Old browsers */
    background: rgb(218, 218, 218); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(252, 252, 252, 1) 0%, rgba(218, 218, 218, 1) 120px); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(252, 252, 252, 1)), color-stop(120px, rgba(218, 218, 218, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(252, 252, 252, 1) 0%, rgba(218, 218, 218, 1) 120px); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(252, 252, 252, 1) 0%, rgba(218, 218, 218, 1) 120px); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(252, 252, 252, 1) 0%, rgba(218, 218, 218, 1) 120px); /* IE10+ */
    background: linear-gradient(to bottom, rgba(252, 252, 252, 1) 0%, rgba(218, 218, 218, 1) 120px); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#dadada',GradientType=0 ); /* IE6-9 */
    padding-bottom: 20px;
    padding-bottom: 1000px;
    margin-bottom: -1000px;
}

.lt-ie9 [role="contentinfo"] {
    padding-bottom: 20px;
    margin-bottom: 0;
}

.home [role="contentinfo"] {
    position: fixed;
    bottom: 0;
    left: 0;
    padding-bottom: 0;
    margin-bottom: 0;
	background: rgba(239, 239, 239, .7);
}

.footer_info_text {
    text-align: right;
    padding: 8px 0 6px 0; 	
	color:#333;
	position: relative;
}


#footer_navigation {
    position: relative;
    z-index: 100;
    display: block;
    clear: both;
    width: 100%;
    height: auto;
    padding: 10px 0;
    border-top: 1px solid rgb(147, 147, 147);
    overflow: auto;
    overflow-x: hidden;
    color: #ffffff;
    background: rgb(118, 118, 118); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(155, 155, 155, 1) 0%, rgba(118, 118, 118, 1) 47%, rgba(118, 118, 118, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(155, 155, 155, 1)), color-stop(47%, rgba(118, 118, 118, 1)), color-stop(100%, rgba(118, 118, 118, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(155, 155, 155, 1) 0%, rgba(118, 118, 118, 1) 47%, rgba(118, 118, 118, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(155, 155, 155, 1) 0%, rgba(118, 118, 118, 1) 47%, rgba(118, 118, 118, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(155, 155, 155, 1) 0%, rgba(118, 118, 118, 1) 47%, rgba(118, 118, 118, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(155, 155, 155, 1) 0%, rgba(118, 118, 118, 1) 47%, rgba(118, 118, 118, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9b9b9b', endColorstr='#767676', GradientType=0); /* IE6-9 */
}

.google-plus {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.tel_font {
    font-size: 14px;
    font-weight: bold;
    text-shadow: #333 0 1px 0;
}

#hm_icon_nav_cont {
    position: absolute;
    /*top: 44%;*/
    right: 6%;
    width: 347px;
    margin-top: -189px;
    text-align: left;
    z-index: 3;
	filter:alpha(opacity=90);  
    -moz-opacity:0.9;  
    -khtml-opacity: 0.9;  
    opacity: 0.9;	
}

#hm_icon_nav {
    width: 346px;
    height: auto;
    float: right;
    border: 1px solid rgb(0, 117, 163);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background: #4499bb;
    background: -moz-linear-gradient(top, #045f7f 0%, #4499bb 97%, #8cc0d5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #045f7f), color-stop(97%, #4499bb), color-stop(100%, #8cc0d5));
    background: -webkit-linear-gradient(top, #045f7f 0%, #4499bb 97%, #8cc0d5 100%);
    background: -o-linear-gradient(top, #045f7f 0%, #4499bb 97%, #8cc0d5 100%);
    background: -ms-linear-gradient(top, #045f7f 0%, #4499bb 97%, #8cc0d5 100%);
    background: linear-gradient(to bottom, #045f7f 0%, #4499bb 97%, #8cc0d5 100%);
    z-index: 11;
    margin: 0;
    padding: 5px 0 0 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: inset 0px 10px 5px -8px #81c0d0;
    box-shadow: inset 0px 10px 5px -8px rgba(255, 255, 255, .65);
}

.lt-ie9 #hm_icon_nav {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#045f7f', endColorstr='#8cc0d5', GradientType=0);
}

#hm_icon_nav > li {
    position: relative;
    display: block;
    padding: 0 19px;
    border-bottom: 1px solid rgb(0, 92, 124);
}

#hm_icon_nav > li:last-child {
    border: none;
}

#hm_icon_nav > li > a {
    position: relative;
    display: block;
    font-size: 19px;
    line-height: 20px;
    padding: 15px 0 10px 0px;
    color: rgb(255, 255, 255);
    /*background: url(../img/sfo_sprite.png) no-repeat;*/
    margin: 4px 0;
    overflow: hidden;
    outline: none;
    border: none;
}

#hm_icon_nav .icon {
    width: 37px;
    height: 50px;
    background: url(../img/sfo_sprite.png) no-repeat;
    float: left;
}

#hm_icon_nav > li.active > a {
    text-decoration: none;
}

/*#hm_icon_nav > li a.main:focus { color: rgb(141, 203, 214); }*/
#hm_icon_nav li.status > .icon {
    background-position: 0 -565px;
}

#hm_icon_nav li.navigating > .icon {
    background-position: 0 -605px;
}

#hm_icon_nav li.transport > .icon {
    background-position: 0 -645px;
}

#hm_icon_nav li.faqs > .icon {
    background-position: 0 -682px;
}

#hm_icon_nav li .innerContent {
    display: none;
    margin-left: 37px;
    font-size: 13px;
    height: 0;
    overflow: hidden;
    /*color:#8dcbd6;*/
    color: #C7E4E9;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.innerContent {
    *display: inline-block;
    _height: 1%;
}

#hm_icon_nav li.active .innerContent {
    display: block;
    height: 110px;
    padding: 0 0 10px 0;
}

#hm_icon_nav li.status.active .innerContent {
    display: table;
}

#hm_icon_nav li .innerContent span {
    display: block;
    line-height: 15px;
}

#hm_icon_nav li .innerContent a {
    color: #fff;
    line-height: 17px;
    display: block;
    font-size: 15px;
    margin: 10px 0;
}

#hm_icon_nav li .innerContent a.current,
#hm_icon_nav li .innerContent a:hover {
    /*color:#8dcbd6;*/
    color: #C7E4E9;
}

#hm_icon_nav li.status .innerContent a {
    display: inline;
    font-size: 13px;
}

#hm_icon_nav li input {
    display: block;
    float: left;
    margin: 4px 0 8px 0;
    box-shadow: none;
    border: 1px solid #4499bb;
    border-radius: 4px;
    font: 14px 'cartogothic_regular', arial;
}

#hm_icon_nav li input[type="text"] {
    width: 230px;
    border-right: 0;
    padding: 7px 5px 6px 5px;
}

#hm_icon_nav li input[type="password"] {
    width: 230px;
    border-right: 0;
    padding: 7px 5px 6px 5px;
}

.a_demo_one {
    color: #fff;
    padding: 8px 12px;
    text-align: center;
    background: #FF9900;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM1NzE4YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDRjNmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #FF9900 0%, #FF6600 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FF9900), color-stop(100%, #FF6600));
    background: -webkit-linear-gradient(top, #FF9900 0%, #FF6600 100%);
    background: -o-linear-gradient(top, #FF9900 0%, #FF6600 100%);
    background: -ms-linear-gradient(top, #FF9900 0%, #FF6600 100%);
    background: linear-gradient(to bottom, #FF9900 0%, #FF6600 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9900', endColorstr='#FF6600', GradientType=0);
    border-left: 0;
    box-shadow: inset 0 1px rgba(255, 255, 255, .2);
    font-size: 14px;
    font-family: '宋体';
	cursor:pointer;
}

#hm_icon_nav .a_demo_two{
    color: #fff;
    padding: 8px 12px;
    text-align: center;
    border-left: 0;
    box-shadow: inset 0 1px rgba(255, 255, 255, .2);
    font-size: 14px;
    font-family: '宋体';
	border: solid 1px #2D92B8;
	background-color:#3bb3e0;
	background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(44,160,202)),color-stop(1, rgb(62,184,229)));
	cursor:pointer;
}
#hm_icon_nav .a_demo_three{
    color: #fff;
    padding: 8px 12px;
    text-align: center;
    box-shadow: inset 0 1px rgba(255, 255, 255, .2);
    font-size: 14px;
    font-family: '宋体';
	border: solid 1px #5FA548;
	background-color: rgb(116, 181, 65);
	background-image: linear-gradient(bottom,  rgb(99, 166, 47) 0%, rgb(127, 191, 77) 100%);
	background-image: -o-linear-gradient(bottom,  rgb(99, 166, 47) 0%, rgb(127, 191, 77) 100%);
	background-image: -moz-linear-gradient(bottom,  rgb(99, 166, 47) 0%, rgb(127, 191, 77) 100%);
	background-image: -webkit-linear-gradient(bottom,  rgb(99, 166, 47) 0%, rgb(127, 191, 77) 100%);
	background-image: -ms-linear-gradient(bottom,  rgb(99, 166, 47) 0%, rgb(127, 191, 77) 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(99, 166, 47)),color-stop(1, rgb(127, 191, 77)));	
	cursor:pointer;
}

#hm_icon_nav ::-webkit-input-placeholder,
#hm_icon_nav :-moz-placeholder,
#hm_icon_nav ::-moz-placeholder,
#hm_icon_nav :-ms-input-placeholder {
    font: 14px 'cartogothic_regular', arial;
    color: #808080;
    line-height: 18px;
}

.slides {
    width: 100%;
    height: 700px;
    position: relative;
    overflow: hidden;
}

.slideInner {
    height: 700px;
    position: relative;
    left: 0;
    margin-left: 0;
}

.slideInner a {
    display: block;
    height: 700px;
    background-size: cover;
    background-position: center center;
    position: relative;
    text-align: center;
    z-index: 1;
}

.slideInner a div.img1 {
    width: 1070px;
    position: absolute;
    left: 50%;
    margin-left: -535px;
}

.slideInner a div.img2 {
    width: 1070px;
    position: absolute;
    top: 557px;
    left: 50%;
    margin-left: -535px;
}

.slideInner .slide3 .img2 {
    top: 200px;
}

.slideInner .slide3 .img3 {
    width: 181px;
    height: 286px;
    position: absolute;
    left: 50%;
    margin-left: 330px;
    top: 330px;
}

.Airportnav {
    width: 98%;
    position: relative;
    margin: 0 auto;
    display: none;
}

.Airportnav a {
    display: block;
    width: 41px;
    height: 119px;
    opacity: .2;
    z-index: 9;
}

.Airportnav a.prev {
    position: absolute;
    left: 0;
    top: -340px;
    margin-top: -60px;
    background: url(../img/ban_pre.png) no-repeat;
}

.Airportnav a.next {
    position: absolute;
    right: 0;
    top: -340px;
    margin-top: -60px;
    background: url(../img/ban_next.png) no-repeat;
}

.navListBox {
    position: absolute;
    left: 200px;
    top: 629px;
    z-index: 99;
    display: none;
}

.navListBox li {
    width: 12px;
    height: 12px;
    float: left;
    margin-left: 5px;
    border-radius: 50%;
    overflow: hidden;
}

.navListBox li:first-child {
    margin-left: 0;
}

.navListBox li a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 5px #666 inset;
}

.navListBox li a.active {
    background-color: #55ddff;
}